{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - La Boutique 2V3D{% endblock %}

{% block content %}
<h1>Modifier mon mot de passe</h1>

<a href="{{ path('account')}}">Retour sur mon compte</a><br>
<hr>
{% if notification %}
    <div class="alert alert-primary">{{ notification }}</div>
{% endif %}

{{ form(form) }}
<hr>

{% endblock %}