{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - La Boutique 2V3D{% endblock %}

{% block content %}
    <div class="block-small">
    <h1 class="h3 mb3 font-weight-normal">Réinitialiser mon mot de passe</h1>
        {% for message in app.flashes('info') %}
            <div class="alert alert-info text-center">{{ message }}</div>
        {% endfor %}
        {{ form(form) }}
    </div>
{% endblock %}
