{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}

<div class="jumbotron">
    <h1 abbr_class="display-4"></h1>
    <p class="lead">Bienvenue dans l'interface d'administration de <b>La Boutique 2V3D</b></p>
    <a href="{{ path('home') }}">Retour sur la page Home.</a>
    <br>
    <a href="{{ path('account') }}">Retour sur la page Mon Compte.</a>
</div>
    
{% endblock %}